body {
    font-family: 'Verdana', sans-serif; /* Change this to your desired sans-serif font */
    color: #d0d8a2;
    background-color: #302f28; /* Change this to your desired background color */
    margin: 0;
    padding: 0;
}

.header, .footer {
    color: #d0d8a2;
    text-align: center;
    padding: 1rem;
    padding-top: 1rem; /* Add this line to move the title text down */
    font-family: 'Bodoni Moda', serif; /* Change this to your desired serif font */
}

.main {
    text-align: center;
}

.main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0px; /* Change this to your desired border radius */
}
